langchain
langchain-community
langchain-google-genai
langchain-groq
langchain-huggingface
sentence-transformers
faiss-cpu
pypdf
torch
torchvision
python-dotenv
langchain-core
langchain-text-splitters
google-generativeai
tavily-python
streamlit
numpy
pandas
matplotlib
seaborn
